.info-umum {
  padding-top: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: 56.25em) {
    grid-template-columns: 1fr;
  }

  &__map-container {
    @media only screen and (max-width: 56.25em) {
      height: 40rem;
    }
  }

  &__map {
    .mapboxgl-canvas {
      &:focus {
        outline: none;
      }
    }
  }

  &__details {
    padding: 10rem;
    max-width: calc(136.6rem / 2);

    @media only screen and (max-width: 56.25em) {
      padding: 5rem;
    }

    @media only screen and (max-width: 25em) {
      padding: 3rem;
    }

    .heading-primary {
      color: var(--color-green);
    }

    .paragraph {
      text-align: justify;
    }
  }
}
