.berita {
  position: relative;

  &__container {
    padding: 15rem 10rem 0rem 10rem;

    @media only screen and (max-width: 56.25em) {
      padding: 10rem 5rem;
    }

    @media only screen and (max-width: 25em) {
      padding: 10rem 3rem;
    }

    .pagination__container {
      display: flex;
      justify-content: center;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    padding-bottom: 6rem;
  }
}

.bg-berita-1 {
  background: url('../../assets/backgrounds/bg-berita-1.png');
  left: 0;
  top: 0;
  height: 70vh;
  width: 60%;
  z-index: -1;
  background-position: right bottom;
}

.bg-berita-2 {
  background: url('../../assets/icons/ic-hero-landing.svg');
  background-position: top left;
  right: 0;
  bottom: -5rem;
  height: 80rem;
  width: 50%;
  z-index: -1;
  opacity: 0.6;
}

.bg-berita-1,
.bg-berita-2 {
  background-size: cover;
  position: absolute;
}
