.heading-primary {
  color: var(--color-black);
  font-size: 4.8rem;
  line-height: 1.4;

  @media only screen and (max-width: 50em) {
    font-size: 3rem;
  }
}

.heading-secondary {
  color: var(--color-black);
  font-size: 4rem;

  @media only screen and (max-width: 50em) {
    font-size: 2.4rem;
  }
}

.heading-tertiary {
  font-size: 3rem;
  color: var(--color-black);

  @media only screen and (max-width: 50em) {
    font-size: 2rem;
  }
}

.paragraph {
  color: var(--color-black);
  font-size: 2rem;

  @media only screen and (max-width: 50em) {
    font-size: 1.6rem;
  }
}

h1.heading-berita {
  font-size: 4rem;
}

h2.heading-berita {
  font-size: 3rem;
}

h3.heading-berita {
  font-size: 2.6rem;
}
