.footer {
  background-color: var(--color-green);

  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 3rem 10rem;
  }

  &__desa {
    color: var(--color-white);
  }

  &__nama-desa {
    font-size: 2.4rem;
  }

  &__developed-by {
    align-self: flex-end;
    justify-self: flex-end;
    color: var(--color-white);

    a {
      &:link,
      &:visited {
        color: var(--color-white);
      }
    }
  }
}
