.pengajuan {
  &__container {
    padding: 15rem 10rem 10rem 10rem;
    min-height: calc(100vh - 15rem);

    @media only screen and (max-width: 56.25em) {
      padding: 10rem 5rem;
    }

    @media only screen and (max-width: 31.25em) {
      padding: 10rem 1rem;

      .heading-tertiary {
        padding: 0 3rem;
        margin-bottom: 2rem;
      }
    }
  }

  .form-pengajuan {
    padding: 4rem 5rem;
    background-color: var(--color-green);
    border-radius: 2.5rem;
    display: grid;
    gap: 1.5rem;

    @media only screen and (max-width: 31.25em) {
      padding: 2rem;
      border-radius: 1rem;

      .btn {
        width: 100%;
      }
    }
  }
}

.bg-pengajuan {
  background: url('../../assets/backgrounds/bg-form-pengajuan.png');
  background-position: bottom right;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  height: 90%;
  width: 60%;
  z-index: -1;
}
