.navbar {
  background-color: var(--color-green);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  &__brand {
    cursor: pointer;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    align-items: center;
    padding: 0 10rem;
  }

  &__lists {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__item {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;

    &:not(:last-child) {
      margin-right: 5rem;
    }
  }

  &__link {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: var(--color-yellow);
    }

    &.active {
      font-weight: 700;
    }
  }
}
